#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define SETTINGS 1

/ {
    macros {
        bt_clr: bt_clear {
            label = "BT_CLR";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE &bt BT_CLR>;
        };
    };

    behaviors {
        wakeup: wakeup {
            compatible = "zmk,behavior-none";
            #binding-cells = <0>;
            bindings = <&none>;
        };
        
        quick_tap: quick_tap {
            compatible = "zmk,behavior-tap-dance";
            label = "QUICK_TAP";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        
        default_layer {
            bindings = <
                &mkp LCLK      &mkp RCLK
                &kp A          &quick_tap D SETTINGS
            >;
            
            sensor-bindings = <&inc_dec_kp PAGE_UP PAGE_DOWN>;
        };

        settings_layer {
            bindings = <
                &out OUT_TOG   &bt_clr
                &bootloader    &to DEFAULT
            >;
        };
    };
};
